@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --orange-1: #f27930;
    --gray-1: #8690a3;
    --green-1: #5abf8b;
    --green-2: #cef5e1;
    --blue-1: #143a72;
    --blue-2: #569bf8;
    --blue-3: #4b7ef8;
    --white-1: #fff;
    --white-2: #f1f6fa;
    --white-3: #fefefe;

    --primary: var(var(--orange-1));
    --secondary: var(var(--blue-1));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white-3 text-foreground text-base leading-relaxed;
  }
  .line-b-bar {
    @apply w-[100px] h-1 bg-orange-1;
  }

  .section {
    @apply py-10 md:py-16 lg:py-20;
  }

  .auto_gap {
    @apply gap-1 md:gap-3 lg:gap-5;
  }

  .title {
    @apply text-base md:text-lg lg:text-2xl font-semibold  capitalize;
  }

  @keyframes waveAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    25% {
      transform: scale(1.2);
      opacity: 0.5;
    }
    50% {
      transform: scale(1.5);
      opacity: 1;
    }
    75% {
      transform: scale(1.2);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .wave {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 28%;
    background-color: #143a7220;
    animation: waveAnimation 1.5s ease-out infinite;
  }
}
